rmq-host                = "rmq.mydomain.cc"
grafana-host            = "manotaur.mydomain.cc"
grafana-password        = "hunter42"
mysql-password          = "hunter42"
rabbitmq-password       = "hunter42"
rabbitmq-erlang-cookie  = "random32charactersalphanumstring"
influxdb-admin-password = "hunter43"
influxdb-user-password  = "hunter42"
letsencrypt-email       = "foo@foo.com"